body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #121212;
    color: #bbbbbb;
    position: relative;
}

nav {
    background-color: #1f1f1f;
    color: #3c3b3b;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #bbbbbb;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

header {
    margin-top: 60px;
    padding: 2em 0;
    background-color: #1f1f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

header h1,
h2 {
    margin: 0;
    color: #3c3b3b;
}

header p {
    color: #bbbbbb;
}

main {
    padding: 2em 0;
    position: relative;
    z-index: 1;
}

section {
    margin: 2em 0;
    padding: 1em;
    background-color: rgba(31, 31, 31, 0.9);
    position: relative;
    z-index: 1;
}



ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}